img{
    padding: 20px;
}
 
h1{
    font-family: "Roboto Slab";
    font-weight: 400;
    font-style: normal;
    color: "#17197a";
    
}

h2{
    font-family: "Roboto Slab";
    font-weight: 400;
    font-style: normal;
    color: "#292270";
}