img{
    padding: 20px;
}
 
h1{
  -webkit-text-stroke: 2px white;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #17197a;
    
}

h2{
  -webkit-text-stroke: 2px white;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #62259c;
}
p{
 -webkit-text-stroke: 2px white;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #67d0f0;
}